/**
公共样式
 */
.buyBtn
  border-radius: 0;

button
  border-radius: 0px;
.img_w
  width: 100%;
  height: 100%;
.ratio-img
  width: 100%;

.head_btn
  width: px2rem(44);
  height: px2rem(44);
  padding-top: (10);

page
  font-size: px2rem(32);
  font-family: PingFangSC, helvetica neue, hiragino sans gb, arial, microsoft yahei ui, microsoft yahei, simsun, sans-serif;

.page__hd
  padding: 40px;

.page__bd
  padding-bottom: 40px;

.page__bd_spacing
  padding-left: 15px;
  padding-right: 15px;

.page__ft
  padding-bottom: 10px;
  text-align: center;

.page__title
  text-align: left;
  font-size: 20px;
  font-weight: 400;

.page__desc
  margin-top: 5px;
  color: #888;
  text-align: left;
  font-size: 14px;

/*自定义公共样式*/

.text_center
  text-align: center;

::-webkit-scrollbar
  width: 0;
  height: 0;
  color: transparent;

.loading_box

  text-align: center;
  position: absolute;
  z-index: 1000;
  bottom: px2rem(30);
  left: 50%;
  transform: translateX(-50%)

.loading_fade_circle
  width: px2rem(300);
  height: px2rem(30);

.featured_oldMoney_brand
  text-align: center;
  color: #979797;
  font-size: 10px;
  line-height: 10px;
  text-decoration: line-through;

.featured_newMoney_brand
  text-align: center;
  color: #f1929a;
  font-size: 12px;
  line-height: 12px;

.loading-text
  color: #575757;
  font-size: 12px;
  margin-bottom: 16px;
  display: block;
  text-align: center;
